.container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  color: var(--dark);
}

.subcontainer {
  background: rgba(255, 255, 255, 0.7);
  border: 3px double var(--gold);
  min-width: 30vw;
  max-width: 500px;
  padding: 0 20px 20px;
  margin-bottom: 20px;
}

.header {
  color: var(--medium-dark);
  font-family: 'Courgette', cursive;
}

.alert {
  font-weight: bold;
  color: var(--red);
}

.wolf {
  color: var(--red);
}

.villager {
  color: var(--medium-dark);
}

.removePlayer {
  color: var(--red);
}

.removePlayer::before {
  content: ' ';
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
  }
}